.link {
  color: blue;
  box-shadow: inset 0px -1px 0px 0px rgba($c-main, .5);
  transition: .2s;

  &:hover {
    color: black;
    text-decoration: none;
    box-shadow: inset 0px -1px 0px 0px rgba($c-main, 1);
  }
}
