.btn {
  @extend .btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  vertical-align: middle;

  transition: .3s;

  user-select: none;

  &:hover {
    text-decoration: none;
  }

  // ///////////////////////////////////////// type
  &_primary {
    color: #fff;

    background-color: #1273eb;

    &:hover {
      color: #fff;

      background-color: #0161cd;
    }
  }

  // ////////////////////////////////////////// size
  &_lg {
    min-height: 48px;
    padding: 8px 20px;

    font-size: 18px;
  }

  // ////////////////////////////////////////// width
  &_mw_lg {
    min-width: 200px;
  }

  &_w_full {
    width: 100%;
  }
}
